{% extends 'base.html' %}

{% block content %}
<h1>Просмотр событий</h1>
<div class="py-2">
    <form method="post">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="year" placeholder="Введите год события" name="year" value="{{ information.year }}">
            <label for="year">Год события</label>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Просмотр</button>
    </form>
</div>
{% if events %}
<div class="py-2">
    <h1>Cобытия</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Год события
                </th>
                <th>
                    День события
                </th>
                <th>
                    Описание события
                </th>
                <th>
                    Точная дата
                </th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ event.year }}
                </td>
                <td>
                    {{ event.date }}
                </td>
                <td>
                    {{ event.desc }}
                </td>
                <td>
                    {{ event.date }} {{ event.year }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}